*{
    margin: 0;
    font-family:sans-serif;
}
.header-container{
    
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url('images/donation0.jpg');
    background-size:cover;
    background-repeat: no-repeat;
  
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
}
.logo{
    font-size: 30px;
    color: #fff;
}
nav ul{
    display: flex;
}

nav ul li{
    list-style-type: none;
    margin-left: 50px;
    color: #fff;
}
.header-details{
   text-align: center;
  padding: 110px 250px;
  align-items: center;
  margin: 60px 0px;
}
.header-details h2{
    font-size: 68px;
    font-weight: bold;
    color: #fff;
}
.header-details p{
    font-size: 18px;
    color: #fff;
}
.des-button{
    padding: 15px 20px;
    background-color: orange;
    font-size: 18px;
    color: #fff;
    border: none;
    margin: 10px;
}

.donate-container{
    text-align: center;
    margin: 50px 150px;
}
.donate-section{
    padding: 40px 0px;
}
.donate-amount ul{
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}

.donate-amount ul li{
    list-style: none;
    margin-left: 20px;
    padding: 30px 20px;
    color: grey;
    font-weight: bold;
    font-size: 26px;
    /* box-shadow: 0px 0px 30px #cbcbcb; */
    background-color: rgba(211, 211, 211, 0.30);
}
.donate-des h2{
    font-size: 45px;
    margin: 20px 0px;
}
.donate-des p{
    font-size: 16px;
    margin: 20px 150px;
}
.input-amount p{
    border-bottom: 1px solid grey;
    padding: 10px 0px;
    /* 
    border-bottom: 1px solid grey ;
    width: 45%;
    text-align: center;
    padding: 10px 20px; */
    margin: 10px 300px;
    color: grey;
}
.donate-amount .single-price .price-highlight{
    color: orange;
    border: 2px solid orange;
    background-color: rgba(255, 166, 0, 0.301);
    
}

/* donate plan */
.donate-plan-sec{
    display: flex;
    text-align: left;
}
.donate-plan-sec .plan{
    margin:20px;
    padding: 30px;
}
.donate-plan-sec .plan-one{
    background-color: burlywood;
}
.donate-plan-sec .plan-two{
    background-color: rgb(240, 243, 36);
}
.donate-plan-sec .plan-three{
    background-color: rgb(89, 203, 248);
}